.container-pclients {
  width: 100%;
  background-color: #1c1c1c; /* Ajusta el color de fondo según tu diseño */
  padding: 80px 0;
}

.grid-clients {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columnas iguales */
  gap: 50px; /* Espacio entre los logos */
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-top: 50px;
}


.client-logo {
  width: 100px;
  max-width: 150px; /* Ajusta el tamaño máximo de los logos */
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.client-logo:hover {
  opacity: 1;
}

.porshe-client {
  height: 13px !important;
  width: auto;
}

.alarbadero-client {
  height: 37px !important; /* Ajusta la altura específica para Alabardero */
  width: auto; /* Mantiene la relación de aspecto */
}

.text-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
}
.quieres {
  font-family: "Inter_18-Bold", sans-serif;
  color: #e9eaf0;
  font-size: 30px;
}
.btn-yes {
  background-color: #c9ea50;
  font-family: "AghartiCondensed", sans-serif;
  color: #161719;
  padding: 0px 40px;
  font-size: 64px;
  font-weight: bold;
  text-align:center;
  text-decoration: none;
  border-radius: 0;
  border-color: #c9ea50;
  width: 162.12px;
  height: 88.84px;
  margin-bottom: 20px;
}

@media (max-width: 1180px) {
  .grid-clients {
      grid-template-columns: repeat(5, 1fr); /* Cambia a tres columnas en pantallas medianas */
      gap: 25px;
      margin-left: 5%;
  }
}

@media (max-width: 991px) {
    .grid-clients {
        grid-template-columns: repeat(3, 1fr); /* Cambia a tres columnas en pantallas medianas */
        gap: 20px;
    }
}
@media (max-width: 768px) {
    .grid-clients {
        grid-template-columns: repeat(3, 1fr); /* Cambia a tres columnas en pantallas medianas */
        gap: 50px;
    }
}

@media (max-width: 430px) {
    .grid-clients {
        grid-template-columns: repeat(2, 1fr); /* Cambia a dos columnas en pantallas pequeñas */
        gap: 55px;
        margin-left: 35px;
    }
    .quieres {
      font-family: "Inter_18-Bold", sans-serif;
      color: #e9eaf0;
      font-size: 20px;
    }
    .btn-yes {
      background-color: #c9ea50;
      font-family: "AghartiCondensed", sans-serif;
      color: #161719;
      padding: 0px 20px;
      font-size: 54px;
      font-weight: bold;
      text-align:center;
      text-decoration: none;
      border-radius: 0;
      border-color: #c9ea50;
      width: 152.12px;
      height: 78.84px;
      margin-bottom: 20px;
    }
}

@media (max-width: 425px) {
  .grid-clients {
      grid-template-columns: repeat(2, 1fr); /* Cambia a dos columnas en pantallas pequeñas */
      gap: 40px;
      margin-left: 50px;}

      .client-logo {
        width: 100px;
        max-width: 100px; /* Ajusta el tamaño máximo de los logos */
        opacity: 0.8;
        transition: opacity 0.3s ease-in-out;
      }
      
      .client-logo:hover {
        opacity: 1;
      }
      
      .porshe-client {
        height: 13px !important;
        width: auto;
      }
      
      .alarbadero-client {
        height: 37px !important; /* Ajusta la altura específica para Alabardero */
        width: auto; /* Mantiene la relación de aspecto */
      }

      .text-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 100px;
      }
  }

@media (max-width: 375px) {
  .grid-clients {
      grid-template-columns: repeat(2, 1fr); /* Cambia a dos columnas en pantallas pequeñas */
      gap: 40px;
      margin-left: 40px;}

      .client-logo {
        width: 90px;
        max-width: 100px; /* Ajusta el tamaño máximo de los logos */
        opacity: 0.8;
        transition: opacity 0.3s ease-in-out;
      }
      
      .client-logo:hover {
        opacity: 1;
      }
      
      .porshe-client {
        height: 13px !important;
        width: auto;
      }
      
      .alarbadero-client {
        height: 37px !important; /* Ajusta la altura específica para Alabardero */
        width: auto; /* Mantiene la relación de aspecto */
      }

      .text-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 100px;
      }
  }
@media (max-width: 320px) {
  .grid-clients {
      grid-template-columns: repeat(2, 1fr); /* Cambia a dos columnas en pantallas pequeñas */
      gap: 40px;
      margin-left: 25px;}

      .client-logo {
        width: 90px;
        max-width: 100px; /* Ajusta el tamaño máximo de los logos */
        opacity: 0.8;
        transition: opacity 0.3s ease-in-out;
      }
      
      .client-logo:hover {
        opacity: 1;
      }
      
      .porshe-client {
        height: 13px !important;
        width: auto;
      }
      
      .alarbadero-client {
        height: 37px !important; /* Ajusta la altura específica para Alabardero */
        width: auto; /* Mantiene la relación de aspecto */
      }

      .text-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 100px;
      }
  }

  @media (max-width: 279px) {
    .grid-clients {
        grid-template-columns: repeat(2, 1fr); /* Cambia a dos columnas en pantallas pequeñas */
        gap: 40px;
        margin-left: 20px;}
  
        .client-logo {
          width: 90px;
          max-width: 100px; /* Ajusta el tamaño máximo de los logos */
          opacity: 0.8;
          transition: opacity 0.3s ease-in-out;
        }
        
        .client-logo:hover {
          opacity: 1;
        }
        
        .porshe-client {
          height: 13px !important;
          width: auto;
        }
        
        .alarbadero-client {
          height: 37px !important; /* Ajusta la altura específica para Alabardero */
          width: auto; /* Mantiene la relación de aspecto */
        }
  
        .text-button {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;
          margin-top: 100px;
        }
    }
