@font-face {
  font-family: "Agharti-LightCondensed";
  src: local("Agharti-LightCondensed"),
    url("./fonts/Agharti-LightCondensed.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AghartiCondensedLight";
  src: local("AghartiCondensedLight"),
    url("./fonts/AghartiCondensedLight.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AghartiVF";
  src: local("AghartiVF"),
    url("./fonts/AghartiVF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hurtmore";
  src: local("Hurtmore") url("./fonts/Hurtmore.ttf") format("truetype");
}

@font-face {
  font-family: "Inter_18pt-Light";
  src: url("./fonts/Inter_18pt-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inter_18pt-Bold";
  src: url("./fonts/Inter_18pt-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter_18pt-Regular";
    src: url("./fonts/Inter_18pt-Regular.ttf") format("truetype");
  }

body {
  width: 100%;
  font-family: "Inter", sans-serif;
  background-size: cover;
  text-align: center;
  /* padding: 50px; */
}

.mensaje-enviado-container {
  background-image: url("./textura2.png"); /* Fondo con textura */
  /* padding:100px 240px 60px 440px; */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* max-width: 764px; */
  width: 100%;
  /* margin: 0 auto; */
  overflow: hidden;
}

.mensaje-content {
  display: flex;
  justify-content: space-between;
  align-items:center; /* Centra el mensaje y el gif verticalmente */
  gap: 150px; /* Espacio entre el mensaje y el gif */
}

.mensaje-titulo {
  font-family: "Hurtmore", sans-serif;
  font-size: 366px;
  color: #161719;
  transform: rotate(-20deg); /*Rotación opcional */
}

.mensaje-titulo span {
  display: block; /* Divide el texto en líneas separadas */
  margin-left: 150px;
  line-height: 0.9; /* Ajusta el espaciado entre las líneas (reduce la altura) */
}

/* Aplica un margen superior solo al primer span */
.mensaje-titulo span:first-child {
  margin-top: 180px;
}
/* Estilos para el gif */
.mensaje-gif {
  width: 346px;
  height: 346px;
  margin-top: 50px;
  margin-right: 150px;
}
.mensaje-titulo::before {
  content: "";
  background-image: url("./trazado.png"); /* Imagen detrás del texto */
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 72px; /* Ajusta la posición según lo necesites */
  left: -362px;
  width: 130%;
  height: 100%;
  z-index: -1; /* Para que esté detrás del texto */
  transform: rotate(20deg); /*Rotación opcional */
}

.mensaje-descripcion {
  font-family: "Inter_18pt-Regular", sans-serif;
  font-size: 60px;
  color: #333;
  margin-top: 20px;
  margin-bottom: 100px;
  text-align: right;
}

.mensaje-descripcion span {
    display: block; /* Asegura que cada línea esté en una nueva fila */
    margin-right: 160px;
    
    /* margin-right: 0; */
   
   
  }

.mensaje-descripcion strong {
  font-family: "Hurtmore", sans-serif;
  font-size: 71px;
}

.contact-section {
  width: 100%;
  background-color: #161719; /* Fondo oscuro */
  color: white;
  padding: 20px 0; /* Espaciado */
  text-align: center;
  font-family: "Agharti-LightCondensed", sans-serif;
}

/* Título grande */
.big-title {
  font-family: "Agharti-LightCondensed", sans-serif;
  font-size: 306px; /* Tamaño grande para el título */
  text-align: left;
  margin-left: 5%;
  color: white;
}

/* Estilos para los datos de contacto */
.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px; /* Ancho máximo para centrar el contenido */
  margin-left: 5%;
  font-family: "Inter_18pt-SemiBold", sans-serif;
}

/* Estilos para las dos columnas de contacto */
.contact-left {
  font-size: 53px;
  line-height: 1;
  text-align: left;
}

.contact-right {
  font-size: 53px;
  line-height: 1;
  text-align: left;
  margin-left: 110px;
  white-space: nowrap;
}
.footer-section {
  width: 100%;
  background-color: #e9eaf0;
 
  text-align: center;

  position: relative;
  overflow: hidden;
}

/* Social links styling */
.social-links {
  display: flex;
  justify-content: left;
  gap: 50px;
  font-family: "Inter_18pt-Bold";
  font-size: 53px;
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5%;
  position: relative;
}

.link-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}


.circle-effect-instagram {
  position: absolute;
  top: -1%;
  left: -1%;
  width: 338px; /* Tamaño del círculo */
  height: 64px;
  transform: none;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.link-container:hover .circle-effect-instagram {
  transform: translate(calc(-30% + 430px), calc(-50% + 523px), 0px) scale(1);
  opacity: 1;
}
.circle-effect-linkedin {
  position: absolute;
  top: -2%;
  left: 0%;
  width: 255px; /* Tamaño del círculo */
  height: 68px;
  transform: none;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.link-container:hover .circle-effect-linkedin {
  transform: translate(calc(-30% + 430px), calc(-50% + 523px), 0px) scale(1);
  opacity: 1;
}
.circle-effect-vimeo {
  position: absolute;
  top: -5%;
  left: -1%;
  width: 190px; /* Tamaño del círculo */
  height: 70px;
  transform: none;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.link-container:hover .circle-effect-vimeo {
  transform: translate(calc(-30% + 430px), calc(-50% + 523px), 0px) scale(1);
  opacity: 1;
}

.circle-effect-aviso {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 82px; /* Tamaño del círculo */
  height: 20px;
  transform: none;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

/* .link-container:hover .circle-effect-aviso {
  transform: translate(calc(-30% + 430px), calc(-50% + 523px), 0px) scale(1);
  opacity: 2;
} */

.circle-effect-privacidad {
  position: absolute;
  top: -4%;
  left: 0%;
  width: 155px; /* Tamaño del círculo */
  height: 22px;
  transform: none;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

/* .link-container:hover .circle-effect-privacidad {
  transform: translate(calc(-30% + 430px), calc(-50% + 523px), 0px) scale(1);
  opacity: 2;
} */

.circle-effect-cookie {
  position: absolute;
  top: -4%;
  left: 0%;
  width: 135px; /* Tamaño del círculo */
  height: 22px;
  transform: none;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

/* .link-container:hover .circle-effect-cookie {
  transform: translate(calc(-30% + 430px), calc(-50% + 523px), 0px) scale(1);
  opacity: 1;
} */

@keyframes traceCircle {
  0% {
    transform: translate(calc(-50% + 430px), calc(-50% + 523px), 0);
    opacity: 0;
  }
  50% {
    transform: translate(calc(-50% + 0px), calc(-50% + 0px), 0);
    opacity: 1;
  }
  100% {
    transform: translate(calc(-50% + 0px), calc(-50% + 0px), 0);
    opacity: 1;
  }
}

.social-links a,
.legal-links a {
  text-decoration: none;
  color: black;
  position: relative;
  padding: 5px;
  z-index: 1;
}


.vimeo-wrapper {
  position: relative;
  display: inline-block;
}

.vimeo-wrapper a {
  position: relative;
  z-index: 1;
}

.splatter-image {
  position: absolute;
  top: -220px;
  right: 446px;
  z-index: 0;
  width: 50%;
  max-width: 100%;
  height: auto;
  opacity: 0.7;
  overflow: hidden;
}

/* Legal links styling */
.legal-links {
  display: flex;
  justify-content: left;
  gap: 30px;
  font-size: 19px;
  margin-bottom: 30px;
  margin-left: 5%;
}

.legal-links a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

/* Footer logo */
.footer-logo img {
  width: 130px;
  margin-top: -98px;
  margin-left: 596%;
}

@media (max-width: 1391px) {
    .mensaje-enviado-container {
      padding: 60px 20px; /* Ajustar el padding para pantallas más pequeñas */
      max-width: 100%; /* Ocupa todo el ancho disponible */
    }
  
    .mensaje-content {
      flex-direction: column; /* Cambia la dirección a columna */
      gap: 30px; /* Reduce el espacio entre el mensaje y el gif */
      text-align: center;
    }

    .mensaje-titulo {
        font-size: 8rem; /* Reduce el tamaño del título */
        margin-left: 0; /* Centra el título */
        transform: rotate(-20deg); /*Rotación opcional */ /* Opcional: elimina la rotación para pantallas pequeñas */
      }
      .mensaje-titulo::before {
        content: "";
        background-image: url("./trazado.png"); /* Imagen detrás del texto */
        background-size: cover;
        position: absolute;
        top: -135px; /* Ajusta la posición según lo necesites */
        left: -402px;
        width: 450%;
        height: 180%;
        z-index: -1; /* Para que esté detrás del texto */
        transform: rotate(20deg); /*Rotación opcional */
      }
}
/* Media Query para pantallas de hasta 767px */
@media (max-width: 767px) {
    .mensaje-enviado-container {
      padding: 50px 20px; /* Ajustar el padding para pantallas más pequeñas */
      max-width: 100%; /* Ocupa todo el ancho disponible */
    }
  
    .mensaje-content {
      flex-direction: column; /* Cambia la dirección a columna */
      gap: 30px; /* Reduce el espacio entre el mensaje y el gif */
      text-align: center;
    }
  
    .mensaje-titulo {
      font-size: 10rem; /* Reduce el tamaño del título */
      margin-left: 0; /* Centra el título */
      transform: rotate(-20deg); /* Opcional: elimina la rotación para pantallas pequeñas */
    }
  
    .mensaje-titulo span {
      margin-left: 0;
      margin-top: 0; /* Ajusta el espaciado según lo necesites */
    }
  
    .mensaje-gif {
      width: 200px; /* Ajusta el tamaño del gif */
      height: auto;
    }
  
    .mensaje-descripcion {
      font-size: 2rem; /* Reduce el tamaño de la descripción */
    }
    
    .mensaje-titulo::before {
        content: "";
        background-image: url("./trazado.png"); /* Imagen detrás del texto */
        background-size: cover;
        position: absolute;
        top: -100px; /* Ajusta la posición según lo necesites */
        left: -152px;
        width: 151%;
        height: 100%;
        z-index: -1; /* Para que esté detrás del texto */
        transform: rotate(20deg); /*Rotación opcional */
      }
  }
  
  
  @media (max-width: 430px) {
    .mensaje-enviado-container {
      padding: 20px 0px; 
    }
  
    .mensaje-content {
      flex-direction: column;
      gap: 50px; 
      margin-left: -50px;
    }
  
    .mensaje-titulo {
      margin-top: -120px;
      transform: rotate(-20deg);
    }
  
    .mensaje-titulo span {
      margin-left: -107px;
      margin-top: 0;
      font-size: 7rem; 
    }
  
    .mensaje-gif {
      width: 220px; 
      height: 200px;
      margin-left: 100px;
      margin-top: 90px;
    }
    
  
    .mensaje-descripcion {
        font-size: 1.8rem; 
        text-align: center; 
        color: #161719;
        margin-top: 30px;
      }
  
    .mensaje-descripcion span {
      font-size: 2rem; 
      text-align: left;
      margin-right: 0;
      margin-left: 2px;
      color: #161719;
      font-family: "Inter_18pt-Regular", sans-serif;
    }
    .mensaje-descripcion strong {
        font-family: "Hurtmore", sans-serif;
        font-size: 2.5rem;
      }
      .mensaje-titulo::before {
        content: "";
        background-image: url("./trazado.png"); 
        background-size: cover;
        position: absolute;
        top: 80px;
        left: -484px;
        width: 320%;
        height: 90%;
        z-index: -1;
        transform: rotate(20deg);
      }
  }
  @media (max-width: 430px) {
    .big-title {
      font-size: 8rem; 
      margin-top: 5px;
      margin-bottom: 5%;
      text-align: left;
      letter-spacing: 4px;
    }
  
    .contact-info {
      /* padding: 0 5%; */
      display: flex;
      flex-direction: column;
      margin-left: -50px;
    }
  
    .contact-left,
    .contact-right {
      font-size: 1.6rem; 
      margin-bottom: 15px;
      text-align: left;
    }
  
    .contact-left {
      margin-left: 0;
      margin-bottom: 30px;
    }
    .contact-right {
      margin-left: 0;
    }
  }

   @media (max-width: 430px) {
    .footer-section {
      padding: 40px 0;
    }
    .footer-logo img {
      position:absolute;
      width: 100px; 
      margin-top:-135px;
      margin-left: 280px;
      margin-right: 0%; 
      display: block;
    }
  
    .footer-logo{
      margin-top: -50px;
    }
  
    .social-links {
      flex-direction: column; 
      align-items: left; 
      gap: 10px; 
      font-size: 2rem;
      margin-left: 10px;
      justify-content: left;
      margin-top: -15px;
      text-align: left;
    }
  
    .legal-links {
      position: absolute; 
      bottom: -28px; 
      left: 0px; 
      display: flex;
      flex-direction: row;
      gap: 50px; 
      font-size: 1rem;
      z-index: 1; 
      margin-left: 7px;
    }
  
    .legal-links a {
      margin-left: -5px; 
      text-decoration: none; 
      color: black; 
    }
    
    .legal-links a:first-child {
      margin-left: 4px;
    }
  
    .circle-effect-instagram {
      width: 200px; 
      height: 45px; 
      top: -4%; 
      left: 0%; 
    }
     .circle-effect-linkedin 
     {
      width: 170px; 
      height: 45px; 
      top: 5%; 
      left: -1%; 
    }
      
    .circle-effect-vimeo {
      width: 120px; 
      height: 50px; 
      top: -5%; 
      left: -1%; 
    }

    .splatter-image {
      position: absolute;
      top: -118px;
      right: 50px;
      z-index: 0;
      width: 130%;
      max-width: 250%;
      height: auto;
      opacity: 0.7;
      overflow: hidden;
      transform: rotate(180deg);
    }
  } 
