/* Contenedor principal del carrusel */
.container-carousel {
  width: 100%;
  overflow: hidden; /* Asegura que el contenido se mantenga dentro del área visible */
}

.carousel-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 154px 0;
  background-color: #061599;
}

/* Fila del carrusel */
.carousel-row {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/* Contenido del carrusel, con el texto e íconos */
.carousel-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap; /* Evita que el contenido se divida en varias líneas */
}

.carousel-content span {
  font-size: 6rem;
  margin-right: 10px;
  color: white;
}

.icon-star {
  width: 60px; /* Tamaño de las imágenes (estrella y línea) */
  margin-right: 20px;
}

.icon-line {
  width: 200px; /* Tamaño de las imágenes (estrella y línea) */
  margin-right: 20px;
}

/* Animaciones para las filas de contenido */
/* Primera fila - Movimiento de derecha a izquierda */
.move-right {
  animation: loop-1 30s linear infinite;
}

/* Segunda fila - Movimiento de izquierda a derecha */
.move-left {
  animation: loop-2 30s linear infinite;
}

/* Definición de las animaciones */
@keyframes loop-1 {
  100% {
    transform: translateX(-200vw);
  }
  0% {
    transform: translateX(0);
  }
}

@keyframes loop-2 {
  100% {
    transform: translateX(200vw);
  }
  0% {
    transform: translateX(0);
  }
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .carousel-content span {
    font-size: 1.2rem;
  }

  .icon-star, .icon-line {
    width: 30px;
  }
}

@media (max-width: 430px) {
  .carousel-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 104px 0;
    background-color: #061599;
  }

  .carousel-content span {
    font-size: 2.5rem;
  }

  .icon-star, .icon-line {
    width: 30px;
  }
}