<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mensaje Enviado</title>
    <link rel="stylesheet" href="./MensajeEnviado.css" />
  </head>

  <body>
    <div class="mensaje-enviado-container">
      <div class="mensaje-content">
        <div class="mensaje-titulo">
          <span>¡Mensaje</span> <span>Recibido!</span>
        </div>
        <img src="./gif1.gif" alt="Confirmación" class="mensaje-gif" />
      </div>
      <p class="mensaje-descripcion">
        <span> Pronto contactaremos</span> <span>contigo para darle</span> <span>caña a tu
        <strong>marca</strong></span>
      </p>
    </div>
  </body>
</html>
